{% extends 'base.html.twig' %}

{% block body %}
    <a href="" class="btn btn-danger" id="deleteTrophy">Delete</a>

    <form action="{{ path('deleteTeamsFront') }}" method="post">
        <table class="table" contenteditable="false">

            <tr>

                <th>Id Team</th>
                <th>Name Game</th>
                <th>Team Name</th>
                <th>Delete</th>
                <th>Edit</th>

            </tr>
            {% for t in teams %}
                <tr>
                    <td>{{ t.idTeam }}</td>
                    <td>{{ t.idCompetion.gameName}}</td>
                    <td>{{ t.teamName}}</td>
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}
        </table>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $("#checkAll").click(function () {
            $('input:checkbox').not(this).prop('checked', this.checked)
        });
        $("tr:odd").css("background-color", "rgba(34,128,234,0.85)");

    </script>
{% endblock %}
{% block content %}
    {#<script>

        $("#checkAll").click(function () {
            $('input:checkbox').not(this).prop('checked', this.checked)
        });
        $("#delete").click(function() {
            $.ajax({
                url: "/deleteTrophies",
                method: "POST",
                dataType: "json",
                data: {"trophies": {{ trophies }}}
                async: true,
                success: function (data, status){
                    {% set trophies=data %}
                },
                error: function(xhr, textStatus, errorThrown) {
                    alert('Ajax request failed.');
                }
            })
        })
    </script>#}
    <div class="card font-18" >
        <div class="card-body">

            <div class="table-responsive">
                {#
                <a href="{{ path('deleteCompetitions') }}" id="delete"><button class="btn btn-light buttons-copy buttons-html5"
                         type="submit"><span>Delete</span></button>
                    </a>#}
                <a href="{{ path('addTeamsFront') }}" ><button class="btn btn-light buttons-copy buttons-html5">
                        <span>Add Teams</span></button>
                </a>
                <hr>
                <table id="example2" class="table table-striped table-bordered">
                    <div  id="example2_wrapper" class="dataTables_wrapper dt-bootstrap5">
                        <thead>
                        <tr>


                            <th>Id Team</th>
                            <th>Name Game</th>
                            <th>Team Name</th>
                            <th>Delete</th>
                            <th>Edit</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for t in teams %}
                            <tr>

                            <tr>
                                <td>{{ t.idTeam }}</td>
                                <td>{{ t.idCompetion.gameName}}</td>
                                <td>{{ t.teamName}}</td>


                                <td><a href="{{ path('deleteTeamsFront', {'id': t.idTeam}) }}"><button>Delete</button></a> </td>
                                <td><a href="{{ path('updateTeamsFront', {'id': t.idTeam}) }}"><button>Modify</button></a> </td>
                            </tr>
                        {% endfor %}
                        </tbody>

                    </div>
                </table>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
{% block title %}

{% endblock %}
