{% extends 'back/BackBase.html.twig' %}

{% block body %}

    {% for message in app.flashes('info') %}
        <div class="alert alert-success">
            {{message}}
        </div>
    {%endfor %}
    <a href="" class="btn btn-danger" id="deleteTrophy">Delete</a>

    <form action="{{ path('deleteTeams') }}" method="post">
        <table class="table" contenteditable="false">

            <tr>

                <th>Id Team</th>
                <th>Name Game</th>
                <th>Team Name</th>
                <th>Delete</th>
                <th>Edit</th>

            </tr>
            {% for t in teams %}
                <tr>
                    <td>{{ t.idTeam }}</td>
                    <td>{{ t.idCompetion.gameName}}</td>
                    <td>{{ t.teamName}}</td>
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}
        </table>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $("#checkAll").click(function () {
            $('input:checkbox').not(this).prop('checked', this.checked)
        });
        $("tr:odd").css("background-color", "rgba(34,128,234,0.85)");

    </script>
{% endblock %}
{% block content %}


    <div>
        <p style="100px" > <input  id="myInput"  type="text" placeholder="search">
            <img src="https://img.icons8.com/nolan/344/google-web-search.png
" style="width:50px;height:50px;"/></a>

    </div>

    <div class="card font-18" >
        <div class="card-body">

            <div class="table-responsive">
                {#
                <a href="{{ path('deleteCompetitions') }}" id="delete"><button class="btn btn-light buttons-copy buttons-html5"
                         type="submit"><span>Delete</span></button>
                    </a>#}
                <a href="{{ path('addTeams') }}" ><button class="btn btn-light buttons-copy buttons-html5">
                        <span>Add Teams</span></button>
                </a>
                <a href="{{ path('pdff') }}" ><button class="btn btn-light buttons-copy buttons-html5">
                        <span>Download</span></button>
                </a>
                <hr>
                <table id="example2" class="table table-striped table-bordered">
                    <div  id="example2_wrapper" class="dataTables_wrapper dt-bootstrap5">
                        <thead>
                        <tr>


                            <th>Id Team</th>
                            <th>Name Game</th>
                            <th>Team Name</th>
                            <th>Delete</th>
                            <th>Edit</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tbody id="myTable">
                        {% for t in teams %}
                            <tr>

                            <tr>
                                <td>{{ t.idTeam }}</td>
                                <td>{{ t.idCompetion.gameName}}</td>
                                <td>{{ t.teamName}}</td>
                                <td><a href="{{ path('deleteTeams', {'id': t.idTeam}) }}"><i class="lni lni-trash"></i></a> </td>
                                <td><a href="{{ path('updateTeams', {'id': t.idTeam}) }}"><i class="lni lni-cog"></i></a> </td>


                            </tr>
                        {% endfor %}
                        </tbody>
                        <tbody id="search">
                    </div>
                </table>
            </div>
        </div>
    </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js
"></script>

    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

    <div class="nk-pagination-center" class="nk-pagination-prev">

        {{ knp_pagination_render(teams) }}

    </div>
{% endblock %}

