{% extends 'back/BackBase.html.twig'%}

{#{% block content %}
<div class="h1">{{ game.name }}</div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Trophies</h5>
            <hr>
            {% for t in trophies %}
            <div class="accordion accordion-flush" >
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            <i class="bx bxs-trophy"> </i>
                            <div class="font-18" >
                            {{ " "~t.title~" #"~ t.idTrophy }}
                            </div>
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                        <p>{{ "Descripion: "~t.description }}</p>
                            {{"Difficulty:"~ t.difficulity}}
                            {{ "Platform: "~ t.platform }}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}#}
{% block content %}
    <div class="card radius-10" >
        <iframe src="https://www.youtube.com/embed/{{vid}}" width="800" height="600" >
        </iframe>
        <hr>
        <div class="card-body">
            <ul class="list-unstyled">
                {% for t in trophies %}
                <li class="d-flex align-items-center border-bottom pb-2">
                    <img src="{{ asset('BackAssets/images/trophy.png')}}" class="rounded-circle p-1 border" width="90" height="90" alt="...">
                    <div class="flex-grow-1 ms-3">
                        <h5 class="mt-0 mb-1">{{ " "~t.title~" #"~ t.idTrophy }}</h5>
                        <p>{{ "Descripion: "~t.description }}</p>
                        <br>
                        {{"Difficulty:"~ t.difficulity}}
                        <br>
                        {{ "Platform: "~ t.platform }}
                        <hr>
                        <a href="{{ path('deleteTrophies', {'id': t.idTrophy}) }}"><i class="lni lni-trash font-20"></i></a>
                        <a href="{{ path('updateTrophies', {'id': t.idTrophy}) }}"><i class="lni lni-cog font-20"></i></a>
                    </div>
                </li>
                {% endfor %}

            </ul>
        </div>
    </div>
{%endblock%}
{% block script%}
    <script>
        /*var acc = document.getElementsByClassName("accordion-button");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            });
        }*/
        /*$(document).ready(function () {
            $('#accordionFlushExample').on('show.bs.collapse', function () {
                $('.accordion-button').removeClass('active');
            });
        });*/

    </script>
{% endblock %}

{% block body %}

{% endblock %}

