{% extends 'base.html.twig' %}

{% block content %}
    <div class="nk-main">
        <div class="container">
            <div class="nk-gap-1"></div>
            <ul class="nk-breadcrumbs">


                <li><a href="index.html">Home</a></li>


                <li>
                    <svg class="svg-inline--fa fa-angle-right fa-w-8" aria-hidden="true" data-prefix="fa"
                         data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"
                         data-fa-i2svg="">
                        <path fill="currentColor"
                              d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path>
                    </svg><!-- <span class="fa fa-angle-right"></span> --></li>

                <li><span>Game</span></li>

            </ul>
        </div>
        <div class="nk-gap-1"></div>
        <div class="container">
            <div class="row vertical-gap">
                <div class="col-lg-4">
                    <!-- START: Headings -->
                    <h3 class="text-main-1">{{ game.name }}</h3>
                    <div class="nk-gap"></div>
                    <img src="{{ asset(game.img) }}" style="height: 200px; size: portrait; max-width: 300px; aspect-ratio: auto">
                    <!-- END: Headings -->
                </div>
                <div class="col-lg-8">
                    <!-- START: Paragraphs -->
                    <h3 class="text-main-1">Description</h3>
                    <div class="nk-gap"></div>
                    <p  class="lead text-white"><strong>{{ game.name }}</strong> {{ game.description|raw}} </p>
                    <p class="text-white"><strong>Rate</strong> {{ game.rate|round }}</p>
                    <!-- END: Paragraphs -->
                </div>
            </div>
            {#<div class="nk-accordion" id="accordion-1" role="tablist" aria-multiselectable="true">
                <div class="nk-gap-2"></div>
                {% for t in trophies %}
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" >
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion-11" href="#accordion-1-1"
                               aria-controls="accordion-1-1">
                                {{ t.title }}
                                <svg class="svg-inline--fa fa-angle-down fa-w-10 panel-heading-arrow" aria-hidden="true"
                                     data-prefix="fa" data-icon="angle-down" role="img"
                                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg="">
                                    <path fill="currentColor"
                                          d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"></path>
                                </svg><!-- <span class="panel-heading-arrow fa fa-angle-down"></span> -->
                            </a>
                        </div>
                        <div id="accordion-1-1" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="accordion-1-1-heading">
                            <p>{{ "Description: "~ t.description|raw }}</p>
                            <p>{{ "Difficulity: "~ t.difficulity }}</p>
                            <p>{{ "Platform: "~ t.platform }}</p>

                        </div>
                    </div>

                {% endfor %}
                <button class="accordion">Section 1</button>
                <div class="panel">
                    <p>Lorem ipsum...</p>
                </div>
            </div>#}
            <div class="row vertical-gap">
            {% for t in trophies %}
            <div class="col-lg-4">
                <div class="nk-feature-2">
                    <div class="nk-feature-icon">
                        <span class="ion-trophy"></span>
                    </div>
                    <div class="nk-feature-cont text-center">
                        <h3 class="nk-feature-title">{{ t.title~" #"~t.idTrophy }}</h3>
                        <div class="nk-gap-1"></div>
                        <p>{{ "Description: "~ t.description|raw }}</p>
                        <p>{{ "Difficulity: "~ t.difficulity }}</p>
                        <p>{{ "Platform: "~ t.platform }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
            </div>
        </div>
    </div>
{#    <img class="nk-page-background-top" src="{{ asset(game.img) }}" alt="">#}

{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('#accordion-11').on('show.bs.collapse', function (e) {
                $(e.target).prev('.panel-heading').addClass('active');
            });
            $('#accordion-11').on('hide.bs.collapse', function (e) {
                $(e.target).prev('.panel-heading').removeClass('active');
            });
        });

    </script>
{% endblock %}
