{% extends "back/BackBase.html.twig" %}


{% block content %}
    <div class="card">
        <div class="card-body font-20">

    <a href="{{ path('addCat') }}">

        <button class="btn btn-light px-5" ><i class="bx bx-add-to-queue"> </i>
            Add Category
        </button></a>
            <div class="gap-2"></div>
    <table class="table mb-0 table-striped">
        <tr >
        <th>Id</th>
        <th>Category</th>
            <th>Edit</th>
        </tr>
        {% for c in cat %}
        <tr>
            <td>{{ c.idCategory }}</td>
            <td>{{ c.category }}</td>
            <td>
                <a href="{{ path('updateCat', {'id': c.idCategory}) }}">
                    <i class="lni lni-cog"></i>
                </a>
                <a href="{{ path('deleteCat', {'id': c.idCategory}) }}">
                <i class="lni lni-trash"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
    </div>
    </div>
{% endblock %}

