{% extends 'back/BackBase.html.twig' %}

{% block title %}Users index{% endblock %}

{% block content %}
    <h1>Users accounts</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FullName</th>
                <th>Email</th>


                <th>Image</th>

                <th>Roles</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        <form role="search" class="sr-input-func">
            <input type="text" placeholder="Search..." class="search-int form-control" name="search">
            <a href="#"><i class="fa fa-search"></i></a>
        </form>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.fullName }}</td>
                <td>{{ user.email }}</td>



                <td><img src="{{ asset('/uploads/'~user.img) }}" alt="" width="150"></td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>

                <td>
                    <a href="{{ path('backanduser_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('backanduser_edit', {'id': user.id}) }}">edit</a>
                    <a class="btn btn-warning"  href="{{ path('ban', {'id': user.id}) }}">Ban</a>
                    <a class="btn btn-warning"  href="{{ path('unban', {'id': user.id}) }}">UnBan</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}

        </tbody>

    </table>
    <div class="navigation">
        {{ knp_pagination_render(users) }}
    </div>
    <p><a href="{{ path('backanduser_new') }}">Create new</a></p>
    <a href="{{ path('backanduser_list') }}">Download list of users</a>



{% endblock %}
