{% extends 'home/front_base.html.twig' %}

{% block content %}




    <!--
        Additional Classes:
            .nk-page-boxed
    -->
    <body>





    <!--
        Additional Classes:
            .nk-header-opaque
    -->




    <!--
START: Navbar Mobile

Additional Classes:
    .nk-navbar-left-side
    .nk-navbar-right-side
    .nk-navbar-lg
    .nk-navbar-overlay-content
-->

    <!-- END: Navbar Mobile -->



    <div class="nk-main">

        <!-- START: Breadcrumbs -->
        <div class="nk-gap-1"></div>
        <div class="container">
            <ul class="nk-breadcrumbs">


                <li><a href="index.html">Home</a></li>


                <li><span class="fa fa-angle-right"></span></li>

                <li><a href="store.html">Store</a></li>


                <li><span class="fa fa-angle-right"></span></li>

                <li><span>Action Games</span></li>

            </ul>
        </div>
        <div class="nk-gap-1"></div>
        <!-- END: Breadcrumbs -->




        <div class="container">
            <!-- START: Categories -->
{#            <div class="row vertical-gap">#}
{#                <div class="col-lg-4">#}
{#                    <div class="nk-feature-1">#}
{#                        <div class="nk-feature-icon">#}
{#                            <img src="assets/images/icon-mouse.png" alt="">#}
{#                        </div>#}
{#                        <div class="nk-feature-cont">#}
{#                            <h3 class="nk-feature-title"><a href="#">PC</a></h3>#}
{#                            <h3 class="nk-feature-title text-main-1"><a href="#">View Games</a></h3>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-lg-4">#}
{#                    <div class="nk-feature-1">#}
{#                        <div class="nk-feature-icon">#}
{#                            <img src="assets/images/icon-gamepad.png" alt="">#}
{#                        </div>#}
{#                        <div class="nk-feature-cont">#}
{#                            <h3 class="nk-feature-title"><a href="#">PS4</a></h3>#}
{#                            <h3 class="nk-feature-title text-main-1"><a href="#">View Games</a></h3>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-lg-4">#}
{#                    <div class="nk-feature-1">#}
{#                        <div class="nk-feature-icon">#}
{#                            <img src="assets/images/icon-gamepad-2.png" alt="">#}
{#                        </div>#}
{#                        <div class="nk-feature-cont">#}
{#                            <h3 class="nk-feature-title"><a href="#">Xbox</a></h3>#}
{#                            <h3 class="nk-feature-title text-main-1"><a href="#">View Games</a></h3>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
            <!-- END: Categories -->

            <!-- START: Products Filter -->
            <div class="nk-gap-2"></div>
            {{ form_start(form) }}
            <div class="row vertical-gap">

                <div class="col-lg-12">
                    <div class="form-check-inline">

                        <div class="form-row" style="width: max-content"  >
                                {{ form_row(form.categories) }}
                        </div>
                        <div class="col-md-3" style="margin-left: 20px">
                            {{ form_row(form.min) }}
                        </div>
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-3">
                            {{ form_row(form.max) }}
                        </div>
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-3">
                            {{ form_row(form.q) }}

                        </div>
                      <div style="width: 100px"></div>
                        <button type="submit" class="btn btn-danger  w-15"  style="margin-left: 40px">Filter</button>



                        </div>
                    </form>

                </div>
                {{ knp_pagination_sortable(products,'Price','p.price') }}
            </div>

            {{ form_end(form) }}
            <!-- END: Products Filter -->

            <div class="nk-gap-2"></div>
            <!-- START: Products -->
            <div class="row vertical-gap">














<div class="d-flex justify-content-end mb-2">

</div>

                {% for p in products%}
                <div class="col-lg-6">

                    <div class="nk-product-cat-2">

                        <div style="color:red"class="">
                            <div class="position-absolute top-0 end-0 m-3 product-discount"><span  class="">{{ '-'~p.discount }}</span>%</div>
                        </div>
                        <a class="nk-product-image" href="store-product.html">

                            <img src="{{asset('uploads/product_images/' ~p.image) }}" alt="When the last &#39;natural&#39;">
                        </a>
                        <div class="nk-product-cont">
                            <a href="{{ path('app_productfront_show', {"idProduct": p.idProduct}) }}"><h4  class="card-title cursor-pointer">{{~p.prodName }}</h4></a>
                            <span class="nk-post-categories">
            <span class="bg-warning">{{"Category:  "~p.idCategory }}</span>
        </span>
                            <div class="nk-gap-1"></div>
                            <div class="nk-product-rating" data-rating="4.5"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fas fa-star-half"></i></div>
                            <div class="nk-gap-1"></div>


                            <div class="nk-gap-2"><span class="me-2 text-decoration-line-through text-secondary">{{ "Available: "~p.Quantity }}</span></div>

                            <div class="ribbon-2"><span>{{'-' ~p.discount }}</span>%</div>
                            <div class="nk-product-price">{{(p.price-(p.price*(p.discount/100))) }}</div>
                            <div class="nk-gap-1"></div>
                            {% if (p.Quantity)>0 %}
                            <a href="{{ path('cart_add',{'idProduct': p.idProduct}) }}" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Add to Cart</a>
                            {% endif %}
                        </div>
                    </div>

                </div>
                {% endfor %}
            </div>
            <!-- END: Products -->

            <!-- START: Pagination -->
            <div class="nk-gap-3 " ></div>
            <div class="nk-pagination nk-pagination-center" style="color: #0b0d0f ">{{ knp_pagination_render(products) }}</div>


            <!-- END: Pagination -->

            <!-- START: Most Popular -->
            <div class="nk-gap-3"></div>
            <h3 class="nk-decorated-h-2"><span><span class="text-main-1">Most</span> Popular</span></h3>
            <div class="nk-gap"></div>
            <div class="row vertical-gap">


                <div class="col-lg-4 col-md-6">
                    <div class="nk-product-cat">
                        <a class="nk-product-image" href="store-product.html">
                            <img src="assets/images/product-11-xs.jpg" alt="She gave my mother">
                        </a>
                        <div class="nk-product-cont">
                            <h3 class="nk-product-title h5"><a href="store-product.html">She gave my mother</a></h3>
                            <div class="nk-gap-1"></div>
                            <div class="nk-product-rating" data-rating="3"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i></div>
                            <div class="nk-gap-1"></div>
                            <div class="nk-product-price">€ 14.00</div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-md-6">
                    <div class="nk-product-cat">
                        <a class="nk-product-image" href="store-product.html">
                            <img src="assets/images/product-12-xs.jpg" alt="A hundred thousand">
                        </a>
                        <div class="nk-product-cont">
                            <h3 class="nk-product-title h5"><a href="store-product.html">A hundred thousand</a></h3>
                            <div class="nk-gap-1"></div>
                            <div class="nk-product-rating" data-rating="4.5"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fas fa-star-half"></i></div>
                            <div class="nk-gap-1"></div>
                            <div class="nk-product-price">€ 20.00</div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-md-6">
                    <div class="nk-product-cat">
                        <a class="nk-product-image" href="store-product.html">
                            <img src="assets/images/product-13-xs.jpg" alt="So saying he unbuckled">
                        </a>
                        <div class="nk-product-cont">
                            <h3 class="nk-product-title h5"><a href="store-product.html">So saying he unbuckled</a></h3>
                            <div class="nk-gap-1"></div>
                            <div class="nk-product-rating" data-rating="5"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                            <div class="nk-gap-1"></div>
                            <div class="nk-product-price">€ 23.00</div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-md-6">
                    <div class="nk-product-cat">
                        <a class="nk-product-image" href="store-product.html">
                            <img src="assets/images/product-14-xs.jpg" alt="However, I have reason">
                        </a>
                        <div class="nk-product-cont">
                            <h3 class="nk-product-title h5"><a href="store-product.html">However, I have reason</a></h3>
                            <div class="nk-gap-1"></div>
                            <div class="nk-product-rating" data-rating="1.5"> <i class="fa fa-star"></i> <i class="fas fa-star-half"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i></div>
                            <div class="nk-gap-1"></div>
                            <div class="nk-product-price">€ 32.00</div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-md-6">
                    <div class="nk-product-cat">
                        <a class="nk-product-image" href="store-product.html">
                            <img src="assets/images/product-15-xs.jpg" alt="At first, for some time">
                        </a>
                        <div class="nk-product-cont">
                            <h3 class="nk-product-title h5"><a href="store-product.html">At first, for some time</a></h3>
                            <div class="nk-gap-1"></div>
                            <div class="nk-product-rating" data-rating="4"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i></div>
                            <div class="nk-gap-1"></div>
                            <div class="nk-product-price">€ 14.00</div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-md-6">
                    <div class="nk-product-cat">
                        <a class="nk-product-image" href="store-product.html">
                            <img src="assets/images/product-16-xs.jpg" alt="When the last &#39;natural&#39;">
                        </a>
                        <div class="nk-product-cont">
                            <h3 class="nk-product-title h5"><a href="store-product.html">When the last &#39;natural&#39;</a></h3>
                            <div class="nk-gap-1"></div>
                            <div class="nk-product-rating" data-rating="4.5"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fas fa-star-half"></i></div>
                            <div class="nk-gap-1"></div>
                            <div class="nk-product-price">€ 20.00</div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- END: Most Popular -->
        </div>

        <div class="nk-gap-2"></div>






    </div>




    <!-- START: Page Background -->

    <img class="nk-page-background-top" src="assets/images/bg-top-4.png" alt="">
    <img class="nk-page-background-bottom" src="assets/images/bg-bottom.png" alt="">

    <!-- END: Page Background -->




    <!-- START: Search Modal -->
    <div class="nk-modal modal fade" id="modalSearch" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="ion-android-close"></span>
                    </button>

                    <h4 class="mb-0">Search</h4>

                    <div class="nk-gap-1"></div>
                    <form action="#" class="nk-form nk-form-style-1">
                        <input type="text" value="" name="search" class="form-control" placeholder="Type something and press Enter" autofocus>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Search Modal -->



    <!-- START: Login Modal -->
    <div class="nk-modal modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="ion-android-close"></span>
                    </button>

                    <h4 class="mb-0"><span class="text-main-1">Sign</span> In</h4>

                    <div class="nk-gap-1"></div>
                    <form action="#" class="nk-form text-white">
                        <div class="row vertical-gap">
                            <div class="col-md-6">
                                Use email and password:

                                <div class="nk-gap"></div>
                                <input type="email" value="" name="email" class=" form-control" placeholder="Email">

                                <div class="nk-gap"></div>
                                <input type="password" value="" name="password" class="required form-control" placeholder="Password">
                            </div>
                            <div class="col-md-6">
                                Or social account:

                                <div class="nk-gap"></div>

                                <ul class="nk-social-links-2">
                                    <li><a class="nk-social-facebook" href="#"><span class="fab fa-facebook"></span></a></li>
                                    <li><a class="nk-social-google-plus" href="#"><span class="fab fa-google-plus"></span></a></li>
                                    <li><a class="nk-social-twitter" href="#"><span class="fab fa-twitter"></span></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="nk-gap-1"></div>
                        <div class="row vertical-gap">
                            <div class="col-md-6">
                                <a href="#" class="nk-btn nk-btn-rounded nk-btn-color-white nk-btn-block">Sign In</a>
                            </div>
                            <div class="col-md-6">
                                <div class="mnt-5">
                                    <small><a href="#">Forgot your password?</a></small>
                                </div>
                                <div class="mnt-5">
                                    <small><a href="#">Not a member? Sign up</a></small>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Login Modal -->








    </body>
{#houni#}

{% endblock %}