{% extends 'back/BackBase.html.twig' %}

{% block content %}
    {#  <h1>Product index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdProduct</th>
                <th>ProdName</th>
                <th>Description</th>
                <th>Price</th>
                <th>Discount</th>
                <th>Quantity</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.idProduct }}</td>
                <td>{{ product.prodName }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.discount }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.image }}</td>
                <td>
                    <a href="{{ path('app_product_show', {'idProduct': product.idProduct}) }}">show</a>
                    <a href="{{ path('app_product_edit', {'idProduct': product.idProduct}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_product_new') }}">Create new</a>#}


<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5 product-grid">
    {% for p in products%}
    <div class="col">

        <div class="card">

            <img src="{{asset('uploads/product_images/' ~p.image) }}"  height=auto; class="card-img-top" alt="">
            <div class="">
                <div class="position-absolute top-0 end-0 m-3 product-discount"><span class="">{{'-'~p.discount }}</span>%</div>
            </div>
            <div class="card-body">
                <h6 class="card-title cursor-pointer">{{~p.prodName}}</h6>
                <div class="clearfix">
                    <p class="mb-0 float-start"><strong>134</strong> Sales</p>
                    <p class="mb-0 float-end fw-bold"><span class="me-2 text-decoration-line-through text-secondary">{{~p.price}}</span><span>{{~(p.price*(p.discount/100))}}</span></p>
                </div>
                <div class="d-flex align-items-center mt-3 fs-6">
                    <div class="cursor-pointer">
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-secondary"></i>
                    </div>
                    </div>
                    <p class="mb-0 ms-auto">4.2(182)</p>
                </div>
            </div>

        </div>

    {% endfor %}
    </div>



{% endblock %}
