{% extends 'back/BackBase.html.twig' %}

{% block title %}News{% endblock %}

{% block content %}
    <h1>News</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ news.idNews }}</td>
            </tr>
            <tr>
                <th>Headline</th>
                <td>{{ news.headline }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ news.content }}</td>
            </tr>
            <tr>
                <th>Img</th>
                <td>{{ news.img }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_news_index') }}">Back To List</a>

    <a href="{{ path('app_news_edit', {'idNews': news.idNews}) }}">Edit</a>

    {{ include('news/_delete_form.html.twig') }}
{% endblock %}
