{% extends 'base.html.twig' %}

{% block title %}Comments
{% endblock %}

{% block body %}
<style>

#likebutton { color: #00FF00; }
</style>
	
<h1>News And Comments</h1>

   <pre>
	   {{ app.session.get('like') }}
   </pre>
	<table class="table">
		<tbody>
			<tr>
				
				<td><img class="img-fluid" width="400" height="200" src="{{ asset(news.img) }}" alt="ma loadetsh"></td>
			</tr>
			<tr>
				<th>Headline</th>
				<td>{{ news.headline }}</td>
			</tr>
			<tr>
				<th>Content</th>
				<td>{{ news.content }}</td>
			</tr>
			
			
		</tbody>
	</table>

	<table class="table">
		<thead>
			<tr>
				<th>Comment</th>
				<th>Likes</th>
				
				
				

			</tr>
		</thead>


		<tbody>
			
            
            <a href="{{ path('add_comment_user', {'news': news.idNews}) }}">
			<button class="btn btn-primary">
            Add a Comment
            </button>
			</a>

            <a href="{{ path('app_news_index_suer', {'news': news.idNews}) }}">
			<button class="btn btn-primary">Return to News
            </button>
			</a>
         
			{% for c in com %}
				<tr>
                    <td style="display:none;" >{{c.idComment}}</td>
					<td>{{ c.comment }}</td>
				    
					<td><a href="{{ path('salem_sahbi', {'idComment': c.idComment,'idNews':news.idNews}) }}" class="btn btn-link js-like">
					<button class="btn btn-primary">
					{% if app.session.get('like')=="159" %}
					<i class="fa-solid fa-thumbs-up"></i>
					Like<span class="js-likes">({{ c.likes }})
					{% else %}
					<i class="fa-solid fa-thumbs-down"></i>
				    Dislike<span class="js-likes">({{ c.likes }})
					{% endif %}
					
					</button> </a></td>
				    
					
					
					
			
					
				</tr>
				{% endfor %}
			</a>
		</tbody>
	</table>
	

{% endblock %}
{% block javascripts %}
	{# <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

	<script>
	function onClickBtnLike(event){
        event.preventDefault();
		const url= this.href;
		axios.get(url).then(function(response){
           console.log(response);

		})

	}
	document.querySelectorAll('a.js-like').forEach(function(link){
             
			 link.addEventListener('click', onClickBtnLike);

	})
	
	</script> #}
{% endblock %}
