{% extends "back/BackBase.html.twig" %}

{% block content %}
    <div class="container">
        <p class="note-para">{{ fact }}</p>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="p-4 border rounded">
                <div class="was-validated">
{#                        {{ form(form) }}#}
                    {{ form_start(form) }}
                    {{ form_errors(form.name, {"attr": {"class":"text-white"}}) }}
                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>
{% endblock %}