<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--favicon-->
	<link href="{{asset("BackAssets/images/favicon-32x32.png")}}" type="image/png" />
	<!--plugins-->
	<link href="{{asset("BackAssets/plugins/simplebar/css/simplebar.css")}}" rel="stylesheet" />
	<link href="{{asset("BackAssets/plugins/perfect-scrollbar/css/perfect-scrollbar.css")}}" rel="stylesheet" />
	<link href="{{asset("BackAssets/plugins/metismenu/css/metisMenu.min.css")}}" rel="stylesheet" />
	<!-- loader-->
	<link href="{{asset("BackAssets/css/pace.min.css")}}" rel="stylesheet" />
	<script src="{{asset("BackAssets/js/pace.min.js")}}"></script>
	<!-- Bootstrap CSS -->
	<link href="{{asset("BackAssets/css/bootstrap.min.css")}}" rel="stylesheet">
	<link href="{{asset("BackAssets/css/app.css")}}" rel="stylesheet">
	<link href="{{asset("BackAssets/css/icons.css")}}" rel="stylesheet">
	<title>Dashtrans - Bootstrap5 Admin Template</title>
</head>

<body class="bg-theme bg-theme2">
	<!--wrapper-->
	<div class="wrapper">
		<div class="section-authentication-signin d-flex align-items-center justify-content-center my-5 my-lg-0">
			<div class="container-fluid">
				<div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3">
					<div class="col mx-auto">
						<div class="mb-4 text-center">
							<img src="{{asset("BackAssets/images/logo-img.png")}}" width="180" alt="" />
						</div>
						<div class="card">
							<div class="card-body">
								<div class="border p-4 rounded">
									<div class="text-center">
										<h3 class="">Sign in</h3>
										<p>Don't have an account yet? <a href="{{ path('app_register') }}">Sign up here</a>


										</p>
									</div>
									<form method="post" >
										{% if error %}
											<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
										{% endif %}




										<label for="inputEmail">Email</label>
										<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
										<label for="inputPassword">Password</label>
										<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

										<input type="hidden" name="_csrf_token"
											   value="{{ csrf_token('authenticate') }}"
										>

										{#
										Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                                        See https://symfony.com/doc/current/security/remember_me.html

                                        <div class="checkbox mb-3">
                                            <label>
                                                <input type="checkbox" name="_remember_me"> Remember me
                                            </label>
                                        </div>
										#}

										<button class="btn btn-lg btn-primary" type="submit">
											Sign in
										</button>





									</form>

										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--end row-->
			</div>
		</div>
	</div>
	<!--end wrapper-->
	<!-- Bootstrap JS -->
	<script src="{{asset("BackAssets/js/bootstrap.bundle.min.js")}}"></script>
	<!--plugins-->
	<script src="{{asset("BackAssets/js/jquery.min.js")}}"></script>
	<script src="{{asset("BackAssets/plugins/simplebar/js/simplebar.min.js")}}"></script>
	<script src="{{asset("BackAssets/plugins/metismenu/js/metisMenu.min.js")}}"></script>
	<script src="{{asset("BackAssets/plugins/perfect-scrollbar/js/perfect-scrollbar.js")}}"></script>
	<!--Password show & hide js -->
	<script>
		$(document).ready(function () {
			$("#show_hide_password a").on('click', function (event) {
				event.preventDefault();
				if ($('#show_hide_password input').attr("type") == "text") {
					$('#show_hide_password input').attr('type', 'password');
					$('#show_hide_password i').addClass("bx-hide");
					$('#show_hide_password i').removeClass("bx-show");
				} else if ($('#show_hide_password input').attr("type") == "password") {
					$('#show_hide_password input').attr('type', 'text');
					$('#show_hide_password i').removeClass("bx-hide");
					$('#show_hide_password i').addClass("bx-show");
				}
			});
		});
	</script>
	<!--app JS-->
	<script src="{{asset("BackAssets/js/app.js")}}"></script>
</body>

</html>
