<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--favicon-->
	<link href="{{asset("BackAssets/images/favicon-32x32.png")}}" type="image/png" />
	<!--plugins-->
	<link href="{{asset("BackAssets/plugins/simplebar/css/simplebar.css")}}" rel="stylesheet" />
	<link href="{{asset("BackAssets/plugins/perfect-scrollbar/css/perfect-scrollbar.css")}}" rel="stylesheet" />
	<link href="{{asset("BackAssets/plugins/metismenu/css/metisMenu.min.css")}}" rel="stylesheet" />
	<!-- loader-->
	<link href="{{asset("BackAssets/css/pace.min.css")}}" rel="stylesheet" />
	<script src="{{asset("BackAssets/js/pace.min.js")}}"></script>
	<!-- Bootstrap CSS -->
	<link href="{{asset("BackAssets/css/bootstrap.min.css")}}" rel="stylesheet">
	<link href="{{asset("BackAssets/css/app.css")}}" rel="stylesheet">
	<link href="{{asset("BackAssets/css/icons.css")}}" rel="stylesheet">
	<title>Dashtrans - Bootstrap5 Admin Template</title>
</head>

<body class="bg-theme bg-theme2">
	<!--wrapper-->
	<div class="wrapper">
		<div class="section-authentication-signin d-flex align-items-center justify-content-center my-5 my-lg-0">
			<div class="container-fluid">
				<div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3">
					<div class="col mx-auto">
						<div class="mb-4 text-center">
							<img src="{{asset("BackAssets/images/logo-img.png")}}" width="180" alt="" />
						</div>
						<div class="card">
							<div class="card-body">
								<div class="border p-4 rounded">
									<div class="text-center">
										<h3 class="">Reset your password</h3>

									</div>

									<p>
										If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
										This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
									</p>
									<p>If you don't receive an email please check your spam folder or <a href="{{ path('app_forgot_password_request') }}">try again</a>.</p>



									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--end row-->
			</div>
		</div>
	</div>
	<!--end wrapper-->
	<!-- Bootstrap JS -->
	<script src="{{asset("BackAssets/js/bootstrap.bundle.min.js")}}"></script>
	<!--plugins-->
	<script src="{{asset("BackAssets/js/jquery.min.js")}}"></script>
	<script src="{{asset("BackAssets/plugins/simplebar/js/simplebar.min.js")}}"></script>
	<script src="{{asset("BackAssets/plugins/metismenu/js/metisMenu.min.js")}}"></script>
	<script src="{{asset("BackAssets/plugins/perfect-scrollbar/js/perfect-scrollbar.js")}}"></script>
	<!--Password show & hide js -->
	<script>
		$(document).ready(function () {
			$("#show_hide_password a").on('click', function (event) {
				event.preventDefault();
				if ($('#show_hide_password input').attr("type") == "text") {
					$('#show_hide_password input').attr('type', 'password');
					$('#show_hide_password i').addClass("bx-hide");
					$('#show_hide_password i').removeClass("bx-show");
				} else if ($('#show_hide_password input').attr("type") == "password") {
					$('#show_hide_password input').attr('type', 'text');
					$('#show_hide_password i').removeClass("bx-hide");
					$('#show_hide_password i').addClass("bx-show");
				}
			});
		});
	</script>
	<!--app JS-->
	<script src="{{asset("BackAssets/js/app.js")}}"></script>
</body>

</html>
