{% extends 'home/front_base.html.twig' %}

{% block content %}
    <div class="nk-main">

        <!-- START: Breadcrumbs -->

        <div class="container">
            <ul class="nk-breadcrumbs">


                <li><a href="index.html">Home</a></li>


                <li><svg class="svg-inline--fa fa-angle-right fa-w-8" aria-hidden="true" data-prefix="fa" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path></svg><!-- <span class="fa fa-angle-right"></span> --></li>

                <li><a href="store.html">Store</a></li>


                <li><svg class="svg-inline--fa fa-angle-right fa-w-8" aria-hidden="true" data-prefix="fa" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path></svg><!-- <span class="fa fa-angle-right"></span> --></li>

                <li><a href="store-cart.html">Cart</a></li>


                <li><svg class="svg-inline--fa fa-angle-right fa-w-8" aria-hidden="true" data-prefix="fa" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path></svg><!-- <span class="fa fa-angle-right"></span> --></li>

                <li><span>Checkout</span></li>

            </ul>
        </div>
        <div class="nk-gap-1"></div>
        <!-- END: Breadcrumbs -->

        {{ form_start(formpay,{attr:{novalidate:'invalid'}}) }}
{#        {{ form_rest(formpay) }}#}


                <div class="container">

                    <div class="nk-store nk-store-checkout">
                        <h3 class="nk-decorated-h-2"><span><span class="text-main-1">Billing</span> Details</span></h3>

                        <!-- START: Billing Details -->
                        <div class="nk-gap"></div>
                        <form action="#" class="nk-form" novalidate="novalidate">
                            <div class="row vertical-gap">
                                <div class="col-lg-6">





                                    <div class="nk-gap-1">

                                    </div>



                                    <div class="nk-gap-1"></div>
                                    <div class="row vertical-gap">
                                        <div class="col-sm-6">
                                            {{ form_row(formpay.cardnumber) }}
                                        </div>
                                        <div class="col-sm-6">
                                            {{ form_row(formpay.cvv) }}
                                        </div>
                                    </div>

                                    <div class="nk-gap-1"></div>

                                </div>

                                <div class="col-lg-6">


                                    <div class="nk-gap-1"></div>


                                    <div class="nk-gap-1"></div>
                                    <div class="row vertical-gap">
                                        <div class="col-sm-6">
                                           {{ form_row(formpay.expiration) }}
                                        </div>
                                        <div class="col-sm-6">
                                            {{ form_row(formpay.nameincard) }}
                                        </div>
                                    </div>

                                    <div class="nk-gap-1"></div>
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>

                                    </label>
                                </div>
                            </div>
                            {{ form_widget(formpay) }}
                            {{ form_end(formpay) }}
                        </form>
                        <!-- END: Billing Details -->

                        <div class="nk-gap-2"></div>
                        <form action="#" class="nk-form" novalidate="novalidate">
                            <div class="nk-gap-1"></div>
                            <label for="notes">Order Notes:</label>
                            <textarea class="form-control" name="notes" id="notes" placeholder="Order Notes" rows="6"></textarea>
                        </form>

                        <!-- START: Order Products -->
                        <div class="nk-gap-3"></div>
                        <h3 class="nk-decorated-h-2"><span><span class="text-main-1">Your</span> Order</span></h3>
                        <div class="nk-gap"></div>
                        <div class="table-responsive">
                            <table class="nk-table nk-table-sm">
                                <thead class="thead-default">
                                <tr>
                                    <th class="nk-product-cart-title">Product</th>
                                    <th class="nk-product-cart-total">Total</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr>
                                    <td class="nk-product-cart-title">
                                        However, I have reason × 1
                                    </td>
                                    <td class="nk-product-cart-total">
                                        € 32.00
                                    </td>
                                </tr>

                                <tr>
                                    <td class="nk-product-cart-title">
                                        She was bouncing × 1
                                    </td>
                                    <td class="nk-product-cart-total">
                                        € 20.00
                                    </td>
                                </tr>

                                <tr class="nk-store-cart-totals-subtotal">
                                    <td>
                                        Subtotal
                                    </td>
                                    <td>
                                        € 52.00
                                    </td>
                                </tr>
                                <tr class="nk-store-cart-totals-shipping">
                                    <td>
                                        Shipping
                                    </td>
                                    <td>
                                        Free Shipping
                                    </td>
                                </tr>
                                <tr class="nk-store-cart-totals-total">
                                    <td>
                                        Total
                                    </td>
                                    <td>
                                        € 52.00
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- END: Order Products -->

                        <div class="nk-gap-2"></div>
                        <a class="nk-btn nk-btn-rounded nk-btn-color-main-1" href="#">Place Order</a>
                    </div>
                </div>
                <div class="nk-gap-2"></div>






    </div>


{% endblock %}


